*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
html {
    font-size: 18px;
}
body, button
{
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    background-color: hsl(0, 0%, 98%);
    color:  hsl(0, 0%, 41%);
}
.btn{
    padding: 0.7rem 1.1rem;
    border-radius: 12px;
    outline: none;
    border: none;
}
header{
    font-size: 16px;
}
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 100000;
}
.headerContainer .left {
    width: 180px;
    display: flex;
    align-items: center;
}
.headerContainer .right
{
    width: calc(100% - 180px);
}
.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right .navLinks{
    display: flex;
    align-items: center;
}
.right .navLinks > li {
    margin-right: 2rem;
    padding: 2rem 0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.right .navLinks > li:hover, .right .logReg  > li:hover {
    color: hsl(0, 0%, 8%);
}
.navLinks .featCont span:first-child{
    margin-right: 0.5rem;
}
.navLinks .compCont span:first-child{
    margin-right: 0.5rem;
}
.right .features{
    position: relative;
}
.right .features .featList{
    position: absolute;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    top: 3.8rem;
    padding: 1rem;
    width: 150px;
    border-radius: 12px;
    transform: translate(-45%,0);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    background-color: hsl(0, 0%, 98%);
    cursor: default;
}
.fa-solid {
    transition: all 0.3s ease-in-out;
}
.right .navLinks > li:hover .featList{
    opacity: 1;
    pointer-events: auto;
}
.right .navLinks > li:hover .fa-solid {
    transform: rotate(0);
    transition: all 0.3s ease-in-out;
}
.right .company{
    position: relative;
}
.right .company .compList{
    position: absolute;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    top: 3.8rem;
    padding: 1rem;
    width: 120px;
    border-radius: 12px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    background-color: hsl(0, 0%, 98%);
    cursor: default;
}
.right .navLinks > li:hover .compList{
    opacity: 1;
    pointer-events: auto;
}
.right .company .compList li {
    margin-bottom: 1rem;
    color: hsl(0, 0%, 41%);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.right .company .compList li:hover{
    color: hsl(0, 0%, 8%);
}
.right .company .compList li:last-child {
    margin-bottom: 0rem;
}
.right .features .featList li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    color: hsl(0, 0%, 41%);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.right .features .featList li:hover{
    color: hsl(0, 0%, 8%);
}
.right .features .featList li:last-child
{
    margin-bottom: 0rem;
}
.right .features .featList li span:first-child
{
   width: 34px;
}
.right .features .featList li span:last-child
{
   width: 80px;
}
.right .logReg
{
    display: flex;
    align-items: center;
}
.right .logReg > li {
    margin-right: 2rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.btnStyle-1 {
    border: 2px solid hsl(0, 0%, 41%);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.btnStyle-1:hover{
    border-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 8%);
}
.container{
    max-width: 1024px;
    width: 90%;
    margin: auto;
}
.heroSec {
    display: flex;
    margin-bottom: 4rem;
    height: calc(100vh - 200px);
    z-index: -100000;
}
.heroSec .left{
    width: 55%;
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.heroSec .left > * {
    margin-bottom: 1rem;
}
.heroSec .left div:last-child{
    margin-bottom: 0rem;
}
.heroSec .left h1 {
    font-size: 4.3rem;
    padding-top: 8rem;
    color: hsl(0, 0%, 8%);
    line-height: 1.2;
    font-weight: 700;
}
.heroSec .right{
    width: 45%;
}
.heroSec .right img {
    width: 100%;
    height: 100%;
}
.btnStyle-2 {
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    font-weight: 700;
    border: 1px solid hsl(0, 0%, 8%);
    transition: all 0.3s ease-in-out;
    padding: 1rem 1.5rem;
    font-size: 16px;
    margin-bottom: 2rem;
}
.btnStyle-2:hover{
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 8%);
}
.heroSec .left p {
    width: 90%;
    line-height: 1.6;
    font-size: 18px;
}
.heroSec .left .compNames{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
}
.heroSec .left .compNames img {
    display: inline-block;
    margin-bottom: 1rem;
    margin-right: 1rem;
}
.hamburger{
    display: none;
}
.closeMenu{
    display: none;
}
/* * Media Screens */
@media (max-width:1154px)
{
    .heroSec .left h1 {
        font-size: 4rem;
    }
}
@media (max-width:1054px)
{
    .heroSec .left h1 {
        font-size: 3.5rem;
    }
}
@media (max-width:935px)
{
    .heroSec .left h1 {
        font-size: 3rem;
    }
}
@media (max-width:885px)
{
    .hamburger{
        display: block;
    }
    .closeMenu{
        display: block;
    }
  .headerContainer  .right {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 70vw;
        min-width: 280px;
        align-items: flex-start;
        background-color: hsl(0, 0%, 98%);
        flex-direction: column;
        justify-content: flex-start;
        padding: 2rem;
        padding-top: 1rem;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    .headerContainer  .right .closeMenu{
        align-self: flex-end;
        margin-bottom: 1rem;
    }
    .headerContainer  .right .navLinks{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 1rem;
    }
    .headerContainer  .right .navLinks > li {
        margin-right: 0;
        margin: 1rem 0;
        padding: 0;
    }
    .right .features .featList {
        margin-left: 1rem;
    }
    .right .features .featList{
        box-shadow: none;
        top: 1rem;
        border-radius: 0px;
        transform: translate(0,0%);
        transition: none;
        background-color:none;
    }
    .right .navLinks > li:hover .featList{
        position: relative;
        transform: translate(0,0);
        transition: all 0.1s ease-in-out;
    }
    .right .company .compList{
        box-shadow: none;
        top: 1rem;
        border-radius: 0px;
        transition: none;
        display: flex;
        justify-content: center;
        background-color: hsl(0, 0%, 98%);
        cursor: default;
    }
    .right .navLinks > li:hover .compList{
        opacity: 1;
        pointer-events: auto;
        position: relative;
        transition: all 0.1s ease-in-out;
    }
    .headerContainer  .right .logReg{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .headerContainer  .right .logReg > li {
        margin-bottom: 1rem;
        margin-right: 0;
    }
    .headerContainer  .right .logReg .btnStyle-1{
        width: 100%;
    }
    .container{
        width: 100%;
    }
    .heroSec {
        flex-direction: column;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
    .heroSec .left{
        order: 1;
        width: 90%;
        text-align: center;
        margin: auto;
        height: 55%;
    }
    .heroSec .left h1 {
        padding-top: 2rem;
    }
    .heroSec .left p{
        width: 100%;
    }
    .heroSec .right{
        width: 100%;
        height: 45%;
    }
}
@media (max-width:605px)
{
    .heroSec .left h1 {
       font-size: 2.5rem;
    }
    .heroSec .right{
        height: 40%;
     }
     .heroSec .left{
        height: 60%;
     }
}
@media (max-width:480px)
{
    .heroSec .left h1 {
       font-size: 1.9rem;
    }
    .heroSec .left p {
        font-size: 16px;
     }
}