*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
html {
    font-size: 18px;
}
body, button
{
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    background-color: hsl(0, 0%, 98%);
    color:  hsl(0, 0%, 41%);
}
.btn{
    padding: 0.7rem 1.1rem;
    border-radius: 12px;
    outline: none;
    border: none;
}
header{
    font-size: 16px;
}
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 100000;
}
.headerContainer .left {
    width: 180px;
    display: flex;
    align-items: center;
}
.headerContainer .right
{
    width: calc(100% - 180px);
}
.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right .navLinks{
    display: flex;
    align-items: center;
}
.right .navLinks > li {
    margin-right: 2rem;
    padding: 2rem 0;
    transition: all 0.3s ease-in-out;
}
.right .navLinks > li:hover, .right .logReg  > li:hover {
    color: hsl(0, 0%, 8%);
}
.navLinks .featCont span:first-child{
    margin-right: 0.5rem;
}
.navLinks .compCont span:first-child{
    margin-right: 0.5rem;
}
.right .features{
    position: relative;
}
.right .features .featList{
    position: absolute;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    top: 3.8rem;
    padding: 1rem;
    width: 150px;
    border-radius: 12px;
    transform: translate(-45%,0);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}
.fa-solid {
    transition: all 0.3s ease-in-out;
}
.right .navLinks > li:hover .featList{
    opacity: 1;
    pointer-events: auto;
}
.right .navLinks > li:hover .fa-solid {
    transform: rotate(0);
    transition: all 0.3s ease-in-out;
}
.right .company{
    position: relative;
}
.right .company .compList{
    position: absolute;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    top: 3.8rem;
    padding: 1rem;
    width: 120px;
    border-radius: 12px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
}
.right .navLinks > li:hover .compList{
    opacity: 1;
    pointer-events: auto;
}
.right .company .compList li {
    margin-bottom: 1rem;
    color: hsl(0, 0%, 41%);
    transition: all 0.3s ease-in-out;
}
.right .company .compList li:hover{
    color: hsl(0, 0%, 8%);
}
.right .company .compList li:last-child {
    margin-bottom: 0rem;
}
.right .features .featList li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    color: hsl(0, 0%, 41%);
    transition: all 0.3s ease-in-out;
}
.right .features .featList li:hover{
    color: hsl(0, 0%, 8%);
}
.right .features .featList li:last-child
{
    margin-bottom: 0rem;
}
.right .features .featList li span:first-child
{
   width: 34px;
}
.right .features .featList li span:last-child
{
   width: 80px;
}
.right .logReg
{
    display: flex;
    align-items: center;
}
.right .logReg > li {
    margin-right: 2rem;
    transition: all 0.3s ease-in-out;
}
.btnStyle-1 {
    border: 2px solid hsl(0, 0%, 41%);
    transition: all 0.3s ease-in-out;
}
.btnStyle-1:hover{
    border-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 8%);
}
.container{
    max-width: 1124px;
    width: 90%;
    margin: auto;
}
.heroSec {
    display: flex;
    height: calc(100vh - 125.6px - 6.5rem);
    margin-top: 3.5rem;
    margin-bottom: 3rem;
    z-index: -100000;
}
.heroSec .left{
    width: 50%;
    margin-right: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.heroSec .left h1 {
    font-size: 3.3rem;
    width: 80%;
    padding-top: 4rem;
    color: hsl(0, 0%, 8%);
    line-height: 1.2;
}
.heroSec .right{
    width: 50%;
}
.heroSec .right img {
    width: 100%;
    height: 100%;
}
.btnStyle-2 {
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    font-weight: 700;
    border: 2px solid hsl(0, 0%, 8%);
    transition: all 0.3s ease-in-out;
}
.btnStyle-2:hover{
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 8%);
}
.heroSec .left p {
    line-height: 1.6;

}
.heroSec .left .compNames{
    display: flex;
    align-items: center;
    justify-content:space-between;
}